    * {
        margin: 0px;
        padding: 0px;
    }
    /* HEADER */
    
    .header {
        width: 95%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
        border-radius: 20px;
        margin-left: 40px;
    }
    
    .logo {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
    
    .logo img {
        width: 50px;
        padding: 40px;
    }
    
    .logo h2 {
        font: 22px Roboto, sans-serif;
    }
    
    .foto-perfil {
        display: flex;
        align-items: center;
    }
    
    .foto-perfil img {
        width: 50px;
        margin-right: 40px;
        cursor: pointer;
    }
    
    .foto-perfil h2 {
        margin-right: 20px;
        font: 22px Roboto, sans-serif;
    }
    /* ESTILOS CONTAINER - */
    .container_ver_ficha{
        width: 95%;
        margin-left: 40px;
        box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
        margin-bottom: 3%;
        border-radius: 20px;
        height: 70vh;
        margin-top: 7vh;
        display:flex;
        flex-direction: column;
    }
    #titulo_visualizar{
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .container {
        width: 95%;
        margin-left: 40px;
        box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
        margin-bottom: 3%;
        border-radius: 20px;
        height: 70vh;
        margin-top: 7vh;
    }
    /* ESTILOS PRIMERA SECCION - */
    
    .ficha-pricipal {
        display: flex;
        justify-content: space-between;
        width: 95%;
        height: 5vh;
        margin-left: 40px;
        margin-top: 10px;
        align-items: center;
        padding: 5px;
        background-color: #f3f3f3;
        border-radius: 20px;
    }
    
    .desc h1 {
        font: 22px Roboto, sans-serif;
        color: rgb(195, 195, 195)3;
        margin-left: 50px;
    }
    
    .numero h2 {
        font: 22px Roboto, sans-serif;
        margin-right: 50px;
    }
    
    .section-1 {
        margin-top: 10px;
        padding: 10px;
    }
    /* ELEMENTOS DE LA PRIMERA SECCION */
    
    .elementos {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
        ;
    }
    /* DESCRIPCION DE LA FICHA */
    
    #datos_ficha {
        width: 40%;
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .hrs_contenedor_datos_ficha {
        width: 90%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    #contenedor_datos_ficha {
        width: 80%;
        height: 10vh;
        background: #FFFFFF;
        border-radius: 50px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: row;
    }
    
    #contenido_nombre_corto {
        width: 25%;
        height: 10vh;
        background: #FFFFFF;
        border-radius: 50px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
    }
    
    .dato_superior {
        width: 100%;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #4f4f4f;
        font: 18px Roboto, sans-serif;
    }
    
    .dato_inferior {
        width: 100%;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #6e8192;
        font: 14px cerapro, arial, sans-serif;
    }
    
    #contenido_jornada {
        width: 25%;
        height: 10vh;
        background: #FFFFFF;
        border-radius: 50px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    }
    
    #contenido_estado {
        width: 25%;
        height: 10vh;
        background: #FFFFFF;
        border-radius: 50px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    }
    
    #contenido_trimestre {
        width: 25%;
        height: 10vh;
        background: #FFFFFF;
        border-radius: 50px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    }
    /* BUSCADOR */
    
    .container-1 {
        width: 300px;
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
    }
    
    .container-1 input#search {
        width: 350px;
        height: 50px;
        background-color: #e8e8ea;
        border: none;
        font-size: 15px;
        float: left;
        color: #3b434b;
        padding-left: 45px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition: background .55s ease;
        -moz-transition: background .55s ease;
        -ms-transition: background .55s ease;
        -o-transition: background .55s ease;
        transition: background .55s ease;
    }
    
    .container-1 input#search::-webkit-input-placeholder {
        color: #65737e;
    }
    
    .container-1 .icon {
        position: absolute;
        top: 50%;
        margin-left: 17px;
        margin-top: 17px;
        z-index: 1;
        color: #4f5b66;
    }
    
    .container-1 input#search:hover,
    .container-1 input#search:focus,
    .container-1 input#search:active {
        outline: none;
        background: #ffffff;
    }
    /* GENERAR REPORTE */
    
    .generar-reporte {
        display: block;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        background-color: #e8e8ea;
    }
    
    .generar-reporte .titulo {
        font: 15px Roboto, sans-serif;
    }
    
    .generar-reporte .reportes {
        padding-top: 20px;
    }
    
    .reportes i {
        font-size: 30px;
        padding: 10px;
        cursor: pointer;
    }
    
    .reportes i:hover {
        color: rgb(153, 153, 153);
    }
    /* ESTILOS DE LA SECCION-2 */
    
    .section-2 {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .section-3 {
        display: flex;
        justify-content: center;
    }

    /* ESTILOS CARD*/

    .card{
        background-color: #c7c7c7;
        padding: 20px;
        border-radius: 20px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .card .nombre-ficha{
        background-color: #f3f3f3;
        padding: 10px;

    }

    .nombre-ficha h1{
        font: 20px Roboto, sans-serif;

    }

    .nombre-ficha .ficha{
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    .botones{
        text-align: center;
        margin-top: 15px;
    }

    .botones button{
        padding: 5px;
        font: 17px Roboto, sans-serif;
        width: 100px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.5s;
    }

    .botones .ver:hover{
        background-color: #04ad20;
    }

    .botones .modificar:hover{
        background-color: #f07603;
    }

    .boton-eliminar{
        text-align: center;
    }

    .boton-eliminar button{
        padding: 5px;
        font: 17px Roboto, sans-serif;
        width: 100px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.5s;
        margin-top: 10px;

    }

    .boton-eliminar button:hover{
        background-color: rgb(221, 56, 56);
    }

    .button-crear button{
        width: 50px;
        padding: 5px;
        float: right;
        margin-right: 30px;
        border-radius: 40%;
        border: none;
        background-color: #048519;
        cursor: pointer;
        transition: all .5s;

    }

    .button-crear button:hover{
        background-color: #03b620;
    }

    .button-crear i{
        font-size: 20px;

    }
    






    /* FOOTER */
    
    .footer {
        width: 95%;
        text-align: center;
        box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
        height: 50px;
        border-radius: 20px;
        margin-left: 40px;
        background-color: rgb(255, 126, 33)
    }
    
    .title-footer h1 {
        padding: 15px;
        font: 20px Roboto, sans-serif;
    }